.noRecipe {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.recipeInstructions {
  white-space: pre-line;
}

.edit-save-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
}