.noRecipe {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.recipeInstructions {
  white-space: pre-line;
}

.edit-save-button {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 16px;
  bottom: 16px;
}

.edit-save-button > * {
  margin-left: 8px;
}

.edit-save-button > *:first-child {
  margin-left: 0px;
}